body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.header {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

h2 {
    font-size: 44px;
}

h3 {
    font-size: 36px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1110px;
    width: 100%;
    margin: auto;
    /*margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;*/
    padding: 15px;
    border-color: white;
}

.first-section {
    margin-bottom: 50px;
    margin-left: 20px;
    padding: 15px;
    position: relative;

}

.check-list {
    display: flex;
    flex-direction: column;
}

.check-item {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.check-item img {
    width: 35px;
    height: 35px;
}

.check-item p {
    margin-left: 30px;
}

.container-image {
    max-width: 605px;
    max-height: 496px;
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    padding: 15px;
}

.btn-getstarted {
    width: 175px;
    height: 53px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 50px;
}

.watch-video {
    width: 175px;
    height: 53px;
    background-color: white;
    border: none;
    border-radius: 4px;
    margin-top: 50px;
    margin-left: 20px;
    display: inline-flex;
    align-items: center;
}

.watch-video a {
    color: orange;
    font-weight: 400;
    font-size: 16px;
    
}
.watch-video:hover, .btn-getstarted:hover, ul li:hover
{
    background-color:rgb(243, 193, 100);
    max-width: fit-content;
}
.container-one {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 1110px;
    margin: auto;
    /*margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;*/
    padding: 15px;
}

.text-middle {
    text-align: center;
}

.card {
    display: flex;
    flex-direction: row;
    margin: 50px;
    align-items: start;
    max-height: 178px;
}